body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u444 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u445 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446 {
  position:absolute;
  left:0px;
  top:187px;
  width:1080px;
  height:135px;
}
#u447 {
  position:absolute;
  left:2px;
  top:60px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u449 {
  position:absolute;
  left:102px;
  top:234px;
  width:86px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u450 {
  position:absolute;
  left:0px;
  top:-3px;
  width:86px;
  word-wrap:break-word;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u451 {
  position:absolute;
  left:483px;
  top:234px;
  width:109px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u452 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u453 {
  position:absolute;
  left:889px;
  top:234px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u455 {
  position:absolute;
  left:435px;
  top:101px;
  width:193px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u456 {
  position:absolute;
  left:0px;
  top:-8px;
  width:193px;
  white-space:nowrap;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  position:absolute;
  left:0px;
  top:93px;
  width:1080px;
  height:94px;
}
#u458 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:93px;
}
#u459 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:93px;
}
#u460 {
  position:absolute;
  left:2px;
  top:38px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:77px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u462 {
  position:absolute;
  left:746px;
  top:78px;
  width:292px;
  height:78px;
}
#u463 {
  position:absolute;
  left:2px;
  top:31px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u464 {
  position:absolute;
  left:798px;
  top:93px;
  width:48px;
  height:48px;
}
#u465 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u466 {
  position:absolute;
  left:936px;
  top:87px;
  width:60px;
  height:60px;
}
#u467 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u468 {
  position:absolute;
  left:35px;
  top:105px;
  width:48px;
  height:48px;
}
#u469 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u470 {
  position:absolute;
  left:-300px;
  top:17px;
  width:300px;
  height:170px;
}
#u471 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
