body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u395 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1626px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:0px;
  top:73px;
  width:1080px;
  height:1626px;
  opacity:0.8;
}
#u397 {
  position:absolute;
  left:2px;
  top:805px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u398 {
  position:absolute;
  left:33px;
  top:115px;
  width:48px;
  height:48px;
}
#u399 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u400 {
  position:absolute;
  left:444px;
  top:93px;
  width:193px;
  height:55px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:512px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:74px;
  top:203px;
  width:905px;
  height:512px;
}
#u403 {
  position:absolute;
  left:2px;
  top:248px;
  width:901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:116px;
}
#u405 {
  position:absolute;
  left:97px;
  top:220px;
  width:113px;
  height:116px;
}
#u406 {
  position:absolute;
  left:2px;
  top:50px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u407 {
  position:absolute;
  left:250px;
  top:256px;
  width:146px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:116px;
}
#u410 {
  position:absolute;
  left:97px;
  top:541px;
  width:113px;
  height:116px;
}
#u411 {
  position:absolute;
  left:2px;
  top:50px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u412 {
  position:absolute;
  left:250px;
  top:577px;
  width:146px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:116px;
}
#u415 {
  position:absolute;
  left:97px;
  top:381px;
  width:113px;
  height:116px;
}
#u416 {
  position:absolute;
  left:2px;
  top:50px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u417 {
  position:absolute;
  left:250px;
  top:417px;
  width:146px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:128px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:114px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u419 {
  position:absolute;
  left:112px;
  top:1739px;
  width:777px;
  height:128px;
  font-size:48px;
}
#u420 {
  position:absolute;
  left:2px;
  top:36px;
  width:773px;
  word-wrap:break-word;
}
#u421 {
  position:absolute;
  left:930px;
  top:1856px;
}
#u421_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u421_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u423 {
  position:absolute;
  left:12px;
  top:0px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:2px;
}
#u425 {
  position:absolute;
  left:0px;
  top:28px;
  width:98px;
  height:1px;
}
#u426 {
  position:absolute;
  left:2px;
  top:-8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u427 {
  position:absolute;
  left:96px;
  top:784px;
  width:883px;
  height:182px;
  font-size:48px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:74px;
}
#u429 {
  position:absolute;
  left:97px;
  top:772px;
  width:89px;
  height:74px;
}
#u430 {
  position:absolute;
  left:2px;
  top:29px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u431 {
  position:absolute;
  left:97px;
  top:1055px;
  width:882px;
  height:166px;
  font-size:48px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  word-wrap:break-word;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u433 {
  position:absolute;
  left:112px;
  top:1055px;
  width:60px;
  height:60px;
}
#u434 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435 {
  position:absolute;
  left:431px;
  top:1181px;
}
#u435_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u435_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u437 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  position:absolute;
  left:-300px;
  top:945px;
  width:300px;
  height:170px;
}
#u439 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
